@{
    ViewData["Title"] = "Список смартфонов";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phones</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>Название</th>
                <th>Компания</th>
                <th>Цена</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            <!-- Вставляем данные вручную -->
            <tr>
                <td>iPhone X</td>
                <td>Apple</td>
                <td>600</td>
                <td><a href="~/Home/Buy/1">Купить</a></td>
            </tr>
            <tr>
                <td>Samsung Galaxy Edge</td>
                <td>Samsung</td>
                <td>550</td>
                <td><a href="~/Home/Buy/2">Купить</a></td>
            </tr>
            <tr>
                <td>Pixel 3</td>
                <td>Google</td>
                <td>500</td>
                <td><a href="~/Home/Buy/3">Купить</a></td>
            </tr>
            <tr>
                <td>OnePlus 6T</td>
                <td>OnePlus</td>
                <td>580</td>
                <td><a href="~/Home/Buy/4">Купить</a></td>
            </tr>
            <tr>
                <td>Sony Xperia Z5</td>
                <td>Sony</td>
                <td>450</td>
                <td><a href="~/Home/Buy/5">Купить</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
