<!DOCTYPE html>

<html>
<head>
    <title>Каталог телефонов</title>
</head>
<body>
    <h3>Каталог телефонов</h3>
    <ul>
        <li>
            <strong>iPhone X</strong> - 600$
            <form action="https://localhost:7147/Home/Buy/3" method="post">
                <input type="hidden" name="PhoneId" value="1" />
                <input type="submit" value="Купить" />
            </form>
        </li>
        <!-- Другие телефоны -->
    </ul>
</body>
</html>
